*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 100px;
    padding: 15px 10%;
}
.logo{
    color: white;
    cursor: pointer;
}
.nav-link{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
li{
    padding: 0px 20px;
}
a:hover{
     color: blue;
     transition:all 0.8s linear ;

}
button{
    padding: 8px 25px;
    border-radius: 50px;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
    font-size: 18px;
}